/* CSS goes here */

html,body {
	height: 100%;
	width: 100%;
}

.navbar {
	background-color: rgba(255,255,255,1);
}

.nav {
	font-size: 18px;
}

.nav-color {
	color: #337ab7;
}

#nav-logo img{
	width: 50%;
	height: 50%;
}

.jumbotron {
	-webkit-animation: jumbotron-fade 3s ease-in 0s 1;
	animation: jumbotron-fade 3s ease-in 0s 1;
	background-image: url("images/img1-long.png");
	background-color: #000;
	height: 100%;
	background-size: cover;
	background-position: center;
}

.jumbotron img{
	 width: 15%;
	 min-width: 100px;
}

.jumbotron .hack-padding{
	height: 20%;
}

.jumbotron .container {
	color: #fff;
	padding-left: 20px;
	padding-right: 20px;
}

.group-abstract .container{
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 40px;
}

.group-abstract h2 {
	font-size: 48px;
}

.row-color {
	/*background-color: rgba(96,96,96,0.7);*/
	background-color: rgba(255,255,255,0.8);
}

.group-highlight {
	height: 100%;
}

.group-highlight .container {
	width: 100%;
	margin-right: 0px;
	margin-left: 0px;
}

.group-highlight .row {
	padding-right: 25px;
	padding-left: 25px;
}

.group-highlight h2{
	padding-top: 10px;
}

.group-highlight p {
	padding-top: 30px;
	padding-bottom: 20px;
	font-size: 18px;
}

.group-highlight h2,
.group-highlight p {
	color: #000;
	text-align: left;
}

#highlight1 {
	background-image: url("images/mission3-long.jpg");
	background-size: cover;
	background-position: center;
}

#highlight2 {
	background-image: url("images/mission4-long.jpg");
	background-size: cover;
	background-position: center;
}

#highlight3 {
	background-image: url("images/members1-long.jpg");
	background-size: cover;
	background-position: center;
}

.sign-up {
	padding-top: 30px;
	padding-bottom: 30px;
}

.social .container {
	padding-top:20px;
	padding-bottom:20px;
}


#mc_embed_signup {
	display: inline;
}

.footer{
	padding-bottom: 5px;
}

@media screen and (max-width: 767px){
	#nav-logo {
		display: none;
	}
}

@-webkit-keyframes jumbotron-fade {
    0% {background-image: url("images/img1-long-dark.png")};
    50% {background-image: url("images/img1-long-dark.png")};
    100% {background-image: url("images/img1-long.png")};
} 

/* Standard syntax */ 
@keyframes jumbotron-fade {
    0% {background-image: url("images/img1-long-dark.png")};
    50% {background-image: url("images/img1-long-dark.png")};
    100% {background-image: url("images/img1-long.png")};
}