<footer class="footer text-center site-footer">
  <div class="collapse" id="drakeme">
    <div class="well">
    <iframe width="100%" height="150" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/216846955&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
    </div>
  </div>
  <div class="social">
		<div class="container text-center">
			<a class="btn btn-social-icon btn-lg btn-github" href="https://github.com/columbiaspace">
    			<span class="fa fa-github"></span>
  			</a>
  			<a class="btn btn-social-icon btn-lg btn-facebook" href="https://www.facebook.com/ColumbiaSpaceInitiative">
    			<span class="fa fa-facebook"></span>
  			</a>
  			<a class="btn btn-social-icon btn-lg btn-twitter" href="https://twitter.com/columbiasi">
  				<span class="fa fa-twitter"></span>
  			</a>
			<a class="btn btn-social-icon btn-lg btn-instagram" href="https://www.instagram.com/columbiaspaceinitiative/">
  				<span class="fa fa-instagram"></span>
  			</a>
        <a class="btn btn-social-icon btn-lg btn-youtube" href="https://www.youtube.com/channel/UCUJs9ZWyyKZDD187uurqnMw">
          <span class="fa fa-youtube"></span>
        </a>
		</div>
	</div>

  <p>Copyright © {{ site.time | date: '%Y' }} Columbia Space Initiative unless otherwise noted.
    <a class="" data-toggle="collapse" href="#drakeme" aria-controls="drakeme">
      Drake me.
    </a>
  </p>
 
</footer>
