<footer class="footer text-center site-footer">
  <div class="social">
		<div class="container text-center">
			<a class="btn btn-social-icon btn-lg btn-github" href="https://github.com/columbiaspace">
    			<span class="fa fa-github"></span>
  			</a>
  			<a class="btn btn-social-icon btn-lg btn-facebook" href="https://www.facebook.com/ColumbiaSpaceInitiative">
    			<span class="fa fa-facebook"></span>
  			</a>
  			<a class="btn btn-social-icon btn-lg btn-twitter" href="https://twitter.com/columbiasi">
  				<span class="fa fa-twitter"></span>
  			</a>
		</div>
	</div>
  <p>Copyright © 2015 Columbia Space Initiative unless otherwise noted.</p>
</footer>
