<header class="site-header">
  <div class="navbar navbar-fixed-top" role="navigation" id="nav-desktop">
		<div class="container-fluid">
				<ul class="nav nav-justified nav-pills">
					<li id="aboutNav"><a href="/#aboutsection" data-scroll="#aboutsection">About Us</a></li>
					<li><a href="/members">Members</a></li>
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
							Missions <span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<li><a href="/missions/balloons">Weather Balloons</a></li>
							<li><a href="/missions/microg">Micro-G</a></li>
							<li><a href="/missions/cubesat">Cubesat</a></li>
							<li><a href="/missions/nasabig">NASA BIG</a></li>
							<li><a href="/missions/rascal">RASC-AL</a></li>
							<li><a href="/missions/rockets">Rockets</a></li>
						</ul>
					</li>
					<li id="nav-logo"><a href="#" data-scroll="#"><img src="/assets/media/img/csi-logo-small.png"></a></li>
					<li><a href="/news">News</a></li>
					<li><a href="/calendar">Calendar</a></li>
					<li><a href="/contact">Contact</a></li>
				</ul>
		</div>
	</div>
</header>
