<!--- Spotify Embedded iframe for Podcast --->
<div class="container-fluid row-color" >
  <div class="row group-abstract index-header">
    <h2 class="text-center">
        This <span class="font-italic">is</span> Rocket Science <small>Podcast</small>
      </h2>
  </div>

  <div class="row">
    <div class="col-md-2 empty">
    </div>
    <div class="col-md-4">
      <p>
        Biweekly podcast produced by Henry Manelski and David Tibbits, delivers fun and casual conversations about space exploration. Guest stars include former NASA astronaut Prof. Mike Massimino and extrasolar planets researcher Prof. David Kipping. Whether you're interested in commercial space flight (eg. Blue Origin, SpaceX), asteroid mining, NASA missions or dark matter, there's something for you. Tune in on
        <a href="https://open.spotify.com/show/1nhfebFtoh0dMptCTBRifo">
          Spotify</a>,
        <a href="https://itunes.apple.com/us/podcast/this-is-rocket-science/id1439840165?mt=2">
          Apple Podcasts</a>, or
        <a href="https://anchor.fm/columbia-space-initiative">
          Anchor</a>.
      </p>
    </div>
    <div class="col-md-6">
      <iframe src="https://open.spotify.com/embed/show/1nhfebFtoh0dMptCTBRifo" id="spotify-embed" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
    </div>
  </div>
</div>

<div class="container row-color">
  <div class="row group-abstract index-header">
    <h2 class="text-center">
        Join a Mission
      </h2>
  </div>

  <div class="row">
    {% for node in site.pages %} {% if node.group == "mission" %}
     <div class="col-md-4 col-sm-6 col-12 mission-preview">
      <div class="card h-100">
        <a href="{{node.url}}">
          <div class="mission-card">
            <img class="img img-responsive full-width" src="{{node.jumboimage}}" alt="Mission image">
          </div>

          <div class="card-body">
            <h3 class="card-title">{{node.jumbotitle}}</h3>
            <h5 class="card-subtitle">{{node.abstracttitle}}</h5>
            <p class="card-text">{{node.abstracttext}}</p>
          </div>
        </a>
       </div>
      </div>
    {% endif %} 
    {% endfor %}
  </div>

</div>
