
<!-- Group abstract here -->
	<div class="group-abstract">
		<div class="container">
			<h2>
				{{ page.abstracttitle }}
			</h2>
			<h2><small>
				{{ page.abstracttext }}
			</small></h2>
		</div>
	</div>

	{% if page.group == "pastmission" %}
	<div class="topmessage">
		<div class="container">
			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-10">
					<div class="alert alert-warning" role="alert">
						<strong>This is an past mission.</strong>
						This mission is considered completed or inactive.
					</div>
				</div>
				<div class="col-md-1"></div>
			</div>
		</div>
	</div>
	{% endif %}

	<hr>

	<!-- Introduction here -->

	<div class="mission-intro">
		<div class="container">
			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-3">
					<h3>Introduction</h3>
				</div>
				<div class="col-md-7">
					<p>{{ page.introtext }}</p>
				</div>
				<div class="col-md-1"></div>
			</div>
		</div>
	</div>

	<hr>
	<!-- Goals -->

{% assign goalslist = page.goalstext | split: ';' %}
{% if page.goals == true %}
	<div class="mission-goals mission-list">
		<div class="container">
			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-3">
					<h3>Mission Goals</h3>
				</div>
				<div class="col-md-7">
					<ul>
						{% for agoal in goalslist %}
						<li>
							<p>{{ goalslist[forloop.index0] }}</p>
						</li>
						{% endfor %}
					</ul>
				</div>
				<div class="col-md-1"></div>
			</div>
		</div>
	</div>

	<hr>
{% endif %}
	<!-- Related Skills -->

{% assign skillslist = page.skillstext | split: ';' %}
{% if page.skills == true %}
	<div class="mission-skills mission-list">
		<div class="container">
			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-3">
					<h3>Related Skills</h3>
				</div>
				<div class="col-md-7">
					<ul>
						{% for askill in skillslist %}
						<li>
							<p>{{ skillslist[forloop.index0] }}</p>
						</li>
						{% endfor %}
					</ul>
				</div>
				<div class="col-md-1"></div>
			</div>
		</div>
	</div>

	<hr>
{% endif %}
	<!-- Achievements -->

{% assign achievementslist = page.achievementstext | split: ';' %}
{% if page.achievements == true %}
	<div class="mission-achieve mission-list">
		<div class="container">
			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-3">
					<h3>Achievements</h3>
				</div>
				<div class="col-md-7">
					<ul>
						{% for anachivement in achievementslist %}
						<li>
							<p>{{ achievementslist[forloop.index0] }}</p>
						</li>
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>
	</div>
	<hr>
{% endif %}
	<!-- Mission Leader -->
{% assign leaderslist = page.missionleader | split: ';' %}
{% assign schoollist = page.leaderschool | split: ';' %}
{% assign majorlist = page.leadermajor | split: ';' %}
{% assign profimglist = page.leaderimage | split: ';' %}

{% for aleader in leaderslist %}
	<div class="mission-leader">
		<div class="container">
			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-3">
					<h3>{% if forloop.index0 == 0 %} 
						{% if forloop.length == 1 %}
						Mission Director
						{% else %}
						Mission Directors
						{% endif %}
						{% endif %}</h3>
				</div>
				<div class="col-sm-2">
					<div class="thumbnail">
						<img src="{{ profimglist[forloop.index0] }}" alt="#">
					</div>
				</div>
				<div class="col-md-5">
					<h3>{{ leaderslist[forloop.index0] }}</h3>
					<h3><small>{{ schoollist[forloop.index0] }}</small></h3>
					<h3><small>{{ majorlist[forloop.index0] }}</small></h3>
				</div>
				<div class="col-md-1"></div>
			</div>
		</div>
	</div>
{% endfor %}

	<hr>

	<!-- Content Management here in the future -->
	<!-- News for now -->
{% if page.news == true %}
	<div class="mission-news">
		<div class="container">
			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-10">
					<h3>Recent News</h3>
					<!-- Begin news block -->
					{% for post in site.categories[page.news-cat] %}
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4>{{ post.date | date: "%B %d, %Y" }}</h4>
						</div>
						<div class="panel-body">
							<p>{{ post.content }}</p>
						</div>
					</div>
					{% endfor %}
					<!-- End news block -->
				</div>
				<div class="col-md-1"></div>
			</div>
		</div>
	</div>
	<hr>
{% endif %}

		<!-- Media carousal -->
{% assign medialist = page.medialinks | downcase | split: ';' %}
{% if page.media == true %}
	<div class="mission-media">
		<div class="container">
			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-10">
					<h3>Media</h3>
					<div id="carousel-mission-media" class="carousel slide" data-ride="carousel">
						<!-- Indicators -->
						<ol class="carousel-indicators">
							{% for amedia in medialist %}
							<li data-target="#carousel-mission-media" data-slide-to="{{forloop.index0}}"
							{% if forloop.index0 == 0 %} class="active" {% endif %}></li>
							{% endfor %}
						</ol>

						<!-- Wrapper for slides -->
						<div class="carousel-inner" role="listbox">
							{% for amedia in medialist %}
							<div class="item 
							{% if forloop.index0 == 0 %} active {% endif %}">
								<img src="{{medialist[forloop.index0]}}" alt="">
								<div class="carousel-caption">
								</div>
							</div>
							{% endfor %}
						</div>

						<!-- Controls -->
						<a class="left carousel-control" href="#carousel-mission-media" role="button" data-slide="prev">
							<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
							<span class="sr-only">Previous</span>
						</a>
						<a class="right carousel-control" href="#carousel-mission-media" role="button" data-slide="next">
							<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
							<span class="sr-only">Next</span>
						</a>
					</div>
				</div>
				<div class="col-md-1"></div>
			</div>
		</div>
	</div>
	<hr>
{% endif %}
