<!-- Abstract starts here -->
<div class="group-abstract">
  <div class="container">
    <h2>
      {{ page.abstracttitle }}
    </h2>
    <h2><small>
      {{ page.abstracttext }}
    </small></h2>
  </div>
</div>
<!-- Abstract ends here -->

<!-- Featured articles start here -->

<div class="press">

  {% for aArticle in page.article %}
  <div class="container press-article">
    <div class="card">
      <div class="col-md-4">
        <img src="{{aArticle.image}}" class="img-thumbnail">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h4 class="card-title"><a href="{{aArticle.link}}">{{ aArticle.title }}</a></h4>
          <h6 class="card-subtitle mb-2 text-muted"><span>{{aArticle.publisher}}</span> | <span>{{aArticle.date}}</span> | By <span>{{aArticle.author}}</span></h6>
          <p class="card-text">{{aArticle.excerpt}}....<a href="{{aArticle.link}}" class="card-link">Read More</a></p>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}

</div>
<!-- Featured articles end here -->