
<!-- Group abstract here -->
<div class="group-abstract">
	<div class="container">
	<h2>Supporting our Missions.</h2>
	<div class="col-md-7">
		<p>{{ page.introtext }}</p>
	</div>
	<h2><small>
	  If you are interested in sponsoring the team, please see our <a href="/assets/media/docs/CSI_sponsor_packet.pdf">sponsorship packet</a> and <a href="mailto:columbiaspaceinitiative@gmail.com">get in touch</a>!
    </small></h2>
	</div>
</div>

<hr>

<div class="grants">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h3>Grants</h3>
			</div>
			{% for aGrantsSponsor in page.grants %}
			{% assign loopindex = forloop.index | modulo: 4 %}
			<div class="col-sm-4">
				<a href="{{ aGrantsSponsor.link }}">
					<div class="thumbnail">
					<img src="{{ aGrantsSponsor.logo }}" alt="{{ aGrantsSponsor.name }}" />
					</div>
				</a>
			</div>
			{% endfor %}
		</div>
	</div>
</div>

<!-- We can flush this out when we have more sponsors, I see having all 5 catagories templated -->

<!--
<div class="planetary">
	<div class="container">
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-12">
				<h3>Planetary Level</h3>
			</div>
			{% for aPlanetarySponsor in page.planetary %}
			{% assign loopindex = forloop.index | modulo: 4 %}
			<div class="col-sm-3">
				<a href="{{ aPlanetarySponsor.link}}">
					<div class="thumbnail">
						<img src="{{ aPlanetarySponsor.logo }}" alt="{{ aPlanetarySponsor.name }}">
					</div>
				</a>
			</div>
			{% endfor %}
			<div class="col-md-1"></div>
		</div>
	</div>
</div>

<div class="impactor">
	<div class="container">
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-12">
				<h3>Impactor Level</h3>
			</div>
			{% for aImpactorSponsor in page.impactor %}
			{% assign loopindex = forloop.index | modulo: 4 %}
			<div class="col-sm-3">
				<a href="{{ aImpactorSponsor.link}}">
					<div class="thumbnail">
						<img src="{{ aImpactorSponsor.logo }}" alt="{{ aImpactorSponsor.name }}">
					</div>
				</a>
			</div>
			{% endfor %}
			<div class="col-md-1"></div>
		</div>
	</div>
</div>
-->

<div class="flyby">
	<div class="container">
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-12">
				<h3>Fly-By Level <small>($20-$1999)</small></h3>
			</div>
			{% for aFlyBySponsor in page.flyby %}
			{% assign loopindex = forloop.index | modulo: 4 %}
			<div class="col-sm-3">
				<a href="{{ aFlyBySponsor.link}}">
					<div class="thumbnail">
						<img src="{{ aFlyBySponsor.logo }}" alt="{{ aFlyBySponsor.name }}">
					</div>
				</a>
			</div>
			{% endfor %}
			<div class="col-md-1"></div>
		</div>
	</div>
</div>

<hr>
