<div class="group-abstract">
  <div class="container">
    <h3><small> Thank you to our sponsors!</small></h3>
    <p>
      We are incredibly grateful for the support we receive from within and beyond Columbia. To learn about the many
      ways you can fuel CSI’s endeavors, visit our
      <a href="/support-us">Support Us</a> page.
    </p>
    <img class="img-responsive" src="/assets/media/img/sponsors/AllLogos.png" />
  </div>
</div>

<!-- <div class="grants">
  <div class="container">
    <div class="row">
      {% for sponsor in site.data.sponsors.internal %} {% assign loopindex = forloop.index | modulo: 4 %}
      <div class="col-md-4">
        <a href="{{ sponsor.link }}"> {{sponsor.name}} </a>
      </div>
      {% endfor %}
    </div>
    <div class="row">
      <hr />
      {% for sponsor in site.data.sponsors.nonprofit %} {% assign loopindex = forloop.index | modulo: 4 %}
      <div class="col-md-4">
        <a href="{{ sponsor.link }}"> {{sponsor.name}} </a>
      </div>
      {% endfor %}
    </div>
    <div class="row">
      <hr />
      {% for sponsor in site.data.sponsors.corporate %} {% assign loopindex = forloop.index | modulo: 4 %}
      <div class="col-md-4">
        <a href="{{ sponsor.link }}"> {{sponsor.name}} </a>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

<hr /> -->
