

<!-- <div class="grants">
  <div class="container">
    <div class="row">
      {% for sponsor in site.data.sponsors.internal %} {% assign loopindex = forloop.index | modulo: 4 %}
      <div class="col-md-4">
        <a href="{{ sponsor.link }}"> {{sponsor.name}} </a>
      </div>
      {% endfor %}
    </div>
    <div class="row">
      <hr />
      {% for sponsor in site.data.sponsors.nonprofit %} {% assign loopindex = forloop.index | modulo: 4 %}
      <div class="col-md-4">
        <a href="{{ sponsor.link }}"> {{sponsor.name}} </a>
      </div>
      {% endfor %}
    </div>
    <div class="row">
      <hr />
      {% for sponsor in site.data.sponsors.corporate %} {% assign loopindex = forloop.index | modulo: 4 %}
      <div class="col-md-4">
        <a href="{{ sponsor.link }}"> {{sponsor.name}} </a>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

<hr /> -->
