
<!-- Group abstract here -->
<div class="group-abstract">
	<div class="container">
	<h2>Supporting our Missions.</h2>
		<p>{{ page.introtext }}</p>
	<h2><small>
	  If you are interested in sponsoring the team, please see our <a href="/assets/media/docs/CSI Sponsorship Packet V2.pdf">sponsorship packet</a> and <a href="mailto:columbiaspaceinitiative@gmail.com">get in touch</a>!
    </small></h2>
	</div>
</div>


<hr>

<div class="corporate-sponsors">
	<div class="container">
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-12">
				<h3>Corporate Sponsors</h3>
			</div>
			{% for sponsor in page.corporate-sponsors %}
			{% assign loopindex = forloop.index | modulo: 4 %}
			<div class="col-sm-3">
				<a href="{{ sponsor.link}}">
					<div class="thumbnail">
						<img src="{{ sponsor.logo }}" alt="{{ sponsor.name }}">
					</div>
				</a>
			</div>
			{% endfor %}
			<div class="col-md-1"></div>
		</div>
	</div>
</div>

<div class="external-partners">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h3>External Partners</h3>
			</div>
			{% for sponsor in page.external-partners %}
			{% assign loopindex = forloop.index | modulo: 4 %}
			<div class="col-sm-3">
				<a href="{{ sponsor.link }}">
					<div class="thumbnail">
					<img src="{{ sponsor.logo }}" alt="{{ sponsor.name }}" />
					</div>
				</a>
			</div>
			{% endfor %}
		</div>
	</div>
</div>

<div class="columbia-partners">
	<div class="container">
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-12">
				<h3> Columbia Partners</h3>
			</div>
			{% for sponsor in page.columbia-partners %}
			{% assign loopindex = forloop.index | modulo: 4 %}
			<div class="col-sm-3">
				<a href="{{ sponsor.link}}">
					<div class="thumbnail">
						<img src="{{ sponsor.logo }}" alt="{{ sponsor.name }}">
					</div>
				</a>
			</div>
			{% endfor %}
			<div class="col-md-1"></div>
		</div>
	</div>
</div>

<!-- We can flush this out when we have more sponsors, I see having all 5 catagories templated -->

<!--
<div class="planetary">
	<div class="container">
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-12">
				<h3>Planetary Level</h3>
			</div>
			{% for aPlanetarySponsor in page.planetary %}
			{% assign loopindex = forloop.index | modulo: 4 %}
			<div class="col-sm-3">
				<a href="{{ aPlanetarySponsor.link}}">
					<div class="thumbnail">
						<img src="{{ aPlanetarySponsor.logo }}" alt="{{ aPlanetarySponsor.name }}">
					</div>
				</a>
			</div>
			{% endfor %}
			<div class="col-md-1"></div>
		</div>
	</div>
</div>
 -->



<hr>
