/* CSS goes here */

html,body {
	height: 100%;
	width: 100%;
	position: relative;
}

body p{
	font-size: 18px;
	font-family: 'ProximaNova-Reg' !important;
}

body h3{
	margin-top: 10px;
	font-size: 36px;
}

body h1, h2, h3{
	font-family: 'futura', sans-serif !important;
}

/* Navbar */
.navbar {
	background-color: rgba(255,255,255,1);
}

.nav {
	font-size: 18px;
}

body a{
	color: #084498;
}

.navbar-toggle {
	color: #084498;
}

#nav-logo img{
	max-width: 30px;
	max-height: 30px;
}

.navbar .navbar-nav {
	float: none;
	text-align: center;
	vertical-align: top;
}

.navbar .navbar-collapse {
	text-align: center;
	max-height: 100%;
}

.navbar .dropdown-menu li a{
	text-align: center;
	padding: 5px 20px 5px 20px !important;
}

/*Jumbotron*/

.jumbotron {
	height: 100%;
	background-size: cover;
	background-position: center;

}

.indexjumbo {
	-webkit-animation: jumbotron-fade 2s ease-in-out 0s 1;
	animation: jumbotron-fade 2s ease-in-out 0s 1;
	background-image: url("/assets/media/img/index/img1-long-small.png");
	background-color: #000000;
	height: 100% !important;
}

.cubesatjumbo {
	background-image: url("/assets/media/img/cubesat/cover.jpg");
}

.microjumbo {
	background-image: url("/assets/media/img/microG/cover.jpg");
}

.jumbotron #jumbologo{
	 width: 15%;
	 min-width: 100px;
}

.jumbotron .hack-padding{
	height: 20%;
}

.jumbotron .container {
	color: #fff;
	padding-left: 20px;
	padding-right: 20px;
}

.contact-jumbo{
	background-image: url("/assets/media/img/jumbotron/radio.jpg");
}

.cal-jumbo{
	background-image: url("/assets/media/img/jumbotron/earthrise.jpg");
}

.news-jumbo{
	background-image: url("/assets/media/img/jumbotron/falcon9.jpg");
}

.members-jumbo{
	background-image: url("/assets/media/img/index/members1-long.jpg");
}

/*abstract*/

.group-abstract .container{
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
}

.group-abstract h2 {
	font-size: 48px;
}

/*background to jumbo overlay */

.row-color {
	background-color: rgba(255,255,255,0.8);
}

/*highlights on index */

.group-highlight {
	height: 100%;
	/* account for navbar height */
}

.group-highlight .container {
	width: 100%;

	padding-left: 50px;
	padding-right: 50px;

	margin: 0 auto;
}

.group-highlight h2{
	font-size: 48px;
}

.group-highlight p, h2 {
	margin-top: 20px;
	margin-bottom: 20px;

}

.group-highlight h2,
.group-highlight p {
	text-align: left;
}

#highlight1 {
	background-image: url("/assets/media/img/index/mission3-long.jpg");
	background-size: cover;
	background-position: center;
}

#highlight2 {
	background-image: url("/assets/media/img/index/mission4-long.jpg");
	background-size: cover;
	background-position: center;
}

#highlight3 {
	background-image: url("/assets/media/img/index/members1-long.jpg");
	background-size: cover;
	background-position: center;
}

/*signup*/

.sign-up {
	padding-top: 30px;
	padding-bottom: 30px;
}

.social .container {
	padding-top:20px;
	padding-bottom:20px;
}


#mc_embed_signup {
	display: inline;
}

.members h1 {
	margin-top: 10px;
}


.img-thumbnail {
	padding:10px;
}

.mission-list ul {
	padding-left: 15px;
}

/* news panel */
.panel {
	margin-top: 20px
}

/* calendar sizes */
.calendar{
	text-align: center;
}

#desktop-cal {
	max-width: 80%;
	max-height: 80%;
}

#mobile-cal {
	max-width: 80%;
	max-height: 80%;
}

.carousel{
	min-height: 80%;
}

.carousel img{
	max-width: 80%;

}

.carousel-inner > .item > img {
    margin: 0 auto;
}

/* footer */
.footer{
	padding-bottom: 5px;
}

.footer p{
	font-size: 12px
}

/*responsive stuff */
@media screen and (max-width: 767px){
	#nav-logo {
		display: none;
	}
	#desktop-cal {
		display: none;
	}
	#nav-desktop {
		display: none;
	}
}

@media not screen and (max-width: 767px){
	#mobile-cal {
		display: none;
	}
	#nav-mobile {
		display: none;
	}
}

/*font */
@font-face {
    font-family: futura;
    src: url(fonts/Futura.otf);
}

@font-face {
    font-family: futura-light;
    src: url(fonts/Futura-Light.otf);
}

@font-face{
	font-family: ProximaNova-sb;
	src: url(fonts/ProximaNova-Sbold.otf);
}

@font-face{
	font-family: ProximaNova-Reg;
	src: url(fonts/ProximaNova-Reg.otf);
}

/* Slide in */
/*
@-webkit-keyframes jumbotron-fade {
	from {background: #000};
	to {background-image: url("images/index/img1-long.jpg")}
}

@keyframes jumbotron-fade {
	from {background: #000};
	to {background-image: url("images/index/img1-long.jpg")}
}
*/


/*Fade in */

@-webkit-keyframes jumbotron-fade {
    from {background-image: url("/assets/media/img/index/img1-long-dark-small.png");}
    to {background-image: url("/assets/media/img/index/img1-long-small.png");}
}


@keyframes jumbotron-fade {
    from {background-image: url("/assets/media/img/index/img1-long-dark-small.png");}
    to {background-image: url("/assets/media/img/index/img1-long-small.png");}
}
