/* CSS goes here */

html,body {
	height: 100%;
	width: 100%;
	position: relative;
}

body p{
	font-size: 18px;
	font-family: 'ProximaNova-Reg' !important;
}

body h3{
	margin-top: 10px;
	font-size: 36px;
}

body h1, h2, h3{
	font-family: 'futura', sans-serif !important;
}

ul, ol{
	font-size: 18px;
	font-family: 'ProximaNova-Reg' !important;
}
.cursor {
    cursor: url('/assets/cursors/drake.cur'), default !important;
}

/* Navbar */
.navbar {
	background-color: rgba(255,255,255,1);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.nav {
	font-size: 18px;
}

body a{
	color: #084498;
}

.navbar-toggle {
	color: #084498;
}

.nav-logo img{
	max-width: 30px;
	max-height: 30px;
}

.nav-index-logo img{
	max-width: 30px;
	max-height: 30px;
}

.navbar .navbar-nav {
	float: none;
	text-align: center;
	vertical-align: top;
}

.navbar .navbar-collapse {
	text-align: center;
	max-height: 100%;
}

.navbar .dropdown-menu li a{
	text-align: center;
	font-size: 13px;
	padding: 5px 20px 5px 20px !important;
}

.dropdown-menu {
  width: 100%;
}

.oldmission a{
	color: #777 !important;
}

/*Jumbotron*/

.jumbotron {
	height: 100%;
	background-size: cover;
	background-position: center;
}

.jumbotronMem {
	height: 50%;
	background-size: cover;
	background-position: center;
}

.indexjumbo {
	-webkit-animation: jumbotron-fade 1.25s ease-in-out 0s 1;
	animation: jumbotron-fade 1.25s ease-in-out 0s 1;
	background-image: url("/assets/media/img/index/img1-long-small.png");
	background-color: #000000;
	height: 100% !important;
}

.jumbotron #jumbologo{
	 width: 15%;
	 min-width: 100px;
}

.jumbotron .hack-padding{
	height: 20%;
}

.jumbotron .hack-padding-2{
	min-height: 60%;
}

.jumbotron .container {
	color: #fff;
	padding-left: 20px;
	padding-right: 20px;
}

.credit{
	right: 0;
	bottom: 0;
	position: absolute;
}

.credit p{
	color: #fff;
	font-size: 12px;
	padding-right: 10px;
}

/*about*/
#about-image{
	max-width: 30%
}

.about-center h2{text-align: center;}

/*abstract*/

.group-abstract .container{
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
}

.group-abstract h2 {
	font-size: 48px;
}

/*background to jumbo overlay */

.row-color {
	background-color: rgba(255,255,255,0.8);
}

/* cards on index */
.font-italic {
	font-style: italic;
}
.index-header {
	padding: 5%;
	margin-bottom: 50px;
}

/* podcast: This is Rocket Science*/
#spotify-embed {
	width: 80%;
	height: 430px;
}

.mission-preview {
	margin-top: 40px;
}
.mission-card {
	position:relative;
    overflow:hidden;
    padding-bottom:100%;
	border-radius: 25px;
}

.mission-card img {
	position: absolute;
	border-radius: 25px;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
	-webkit-filter: brightness(80%);
	filter:brightness(80%)
}

/*Darkens Image on Hover*/
.mission-card img:hover {
	filter: brightness(40%);
	transition: all 1s ease;
}

.mission-card .card-desc {
    opacity: 0;
    transition-duration: .4s;
}
.mission-card:hover .card-label {
    opacity: 0;
    transition-duration: .4s;
}

.mission-card:hover .card-desc {
    opacity: 1;
    transition-duration: .4s;
}

/* Center card title */
.centered {
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	font-size: large;
	font-weight: bold;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
.card-label {
	position: absolute;
	top: 4%;
	left: 9%;
	color: white;
	font-size: x-large;
	font-weight: bold;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/*signup*/
.sign-up {
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: rgba(185, 220, 251, 1);
}
.social .container {
	padding-top:20px;
	padding-bottom:20px;
}


#mc_embed_signup {
	display: inline;
}

.members h1 {
	margin-top: 10px;
}


.img-thumbnail {
	padding:10px;
}

.mission-list ul {
	padding-left: 15px;
}

/* news panel */
.panel {
	margin-top: 20px
}
.panel img{
	max-width: 75%;
	max-height: 100%;
}
.mission-news img{
	max-width: 75%;
	max-height: 100%;
}

.mission-specific-news img{
	max-width: 40%;
	max-height: 100%
}

/* calendar sizes */
.calendar{
	text-align: center;
}
.calendar-sub {
	margin-top: 60px;
	padding-top: 15px;
	padding-bottom: 10px;
	background-color: rgba(185, 220, 251, 1);
}

#desktop-cal {
	max-width: 80%;
	max-height: 80%;
}

#mobile-cal {
	max-width: 80%;
	max-height: 80%;
}

.carousel{
	min-height: 80%;
}

.carousel img{
	max-width: 80%;

}

.carousel-inner > .item > img {
    margin: 0 auto;
}
/* press */
.press-article {
	padding: 1%;
}

/* footer */
.footer{
	padding-bottom: 5px;
}

.footer p{
	font-size: 12px;
}

.tenphack{
	height: 10%;
}

/*responsive stuff */
@media screen and (max-width: 767px){
	#nav-logo {
		display: none;
	}
	#nav-index-logo {
		display: none;
	}

	#nav-desktop {
		display: none;
	}
	.img-thumbnail {
		max-width: 75%;
	}
	.thumbnail {
		max-width: 75%;
	}
}

@media not screen and (max-width: 767px){
	#nav-mobile {
		display: none;
	}

}

/*font */
@font-face {
    font-family: futura;
    src: url(/assets/fonts/Futura.otf);
}

@font-face {
    font-family: futura-light;
    src: url(/assets/fonts/Futura-Light.otf);
}

@font-face{
	font-family: ProximaNova-sb;
	src: url(/assets/fonts/ProximaNova-Sbold.otf);
}

@font-face{
	font-family: ProximaNova-Reg;
	src: url(/assets/fonts/ProximaNova-Reg.otf);
}

/* Slide in */
/*
@-webkit-keyframes jumbotron-fade {
	from {background: #000};
	to {background-image: url("images/index/img1-long.jpg")}
}

@keyframes jumbotron-fade {
	from {background: #000};
	to {background-image: url("images/index/img1-long.jpg")}
}
*/


/*Fade in */

@-webkit-keyframes jumbotron-fade {
    from {background-image: url("/assets/media/img/index/img1-long-dark-small.png");}
    to {background-image: url("/assets/media/img/index/img1-long-small.png");}
}


@keyframes jumbotron-fade {
    from {background-image: url("/assets/media/img/index/img1-long-dark-small.png");}
    to {background-image: url("/assets/media/img/index/img1-long-small.png");}
}

#confetti{
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
}
