<!DOCTYPE html>
<html>

 	 {% include head.html %}

 	 <body>

	  	{% include header.html %}

		<div class="tenphack"></div>

		<div class="post">
			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-10">
					<div class="panel panel-default" id="{{ page.title }}">
						<div class="panel-heading">
						    <h3>{{ page.title }} <small>posted in {{ page.categories }} </small></h3>
						    <h4>{{ page.date | date: "%B %d, %Y" }}</h4>
						</div>
						<div class="panel-body">
						    {{ page.content }}
						</div>
					</div>
					<p>Liked that post? Check out the <a href="http://www.columbiaspace.org/mission-{{ page.categories }}" class="btn btn-primary btn-lg"> mission page</a></p>
				</div>
				<div class="col-md-1"></div>
			</div>
		</div>

		{% include footer.html %}
  	</body>
</html>
